@model BakeryOrderSystem.Models.Order

<h1>Редактирование заказа</h1>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Клиент</label>

        <select asp-for="CustomerId"
                asp-items="ViewBag.Customers"
                class="form-control">
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Сотрудник</label>

        <select asp-for="UserId"
                asp-items="ViewBag.Users"
                class="form-control">
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Статус</label>

        <select asp-for="Status" class="form-control">
            <option>Новый</option>
            <option>В работе</option>
            <option>Готов</option>
            <option>Выдан</option>
            <option>Отменен</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Сумма</label>

        <input asp-for="TotalPrice"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Комментарий</label>

        <textarea asp-for="Comment"
                      class="form-control">
        </textarea>
        </div>

        <button type="submit"
                class="btn btn-primary">
            Сохранить
        </button>

        <a asp-action="Index"
               class="btn btn-secondary">
            Назад
        </a>

    </form>